.ContentBoxHeader {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: #0098a1;
    margin-bottom: 10px;
    padding: 0px 0px 5px 0px;
    border-bottom: 2px solid #0098a1;
}

.manipulate_btn {
    display: flex;
}

    .manipulate_btn button {
        margin-right: 5px;
    }

/* loading完成前先隱藏列表 */
.tableDisplayNone,
.tableDisplayNone2 {
    display: none;
}

#LoadingBox,
#LoadingBox2 {
    text-align: center;
    padding: 50px 0;
}

/* 編輯問題模板提示樣式 */
.textC.warning {
    color: #f00;
    box-shadow: 0 0 0 3px #f00 inset
}



/* RWD */

@media screen and (max-width: 1280px) {
    .table_shadow.table_shadowNoLine table.table tr:first-child th:nth-child(2) {
        width: 210px;
    }

    .table_shadow.table_shadowNoLine table.table tr:first-child th:nth-child(3) {
        width: 175px;
    }

    .table_shadow.table_shadowNoLine table.table tr:first-child th:nth-child(6) {
        width: 150px;
    }
}
