.ContentBoxHeader {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: #0098a1;
    margin-bottom:10px;
    padding:0px 0px 5px 0px;
    border-bottom: 2px solid #0098a1;
}
.manipulate_btn {
    display:flex;
}
    .manipulate_btn button {
        margin-right:5px;
    }



/* RWD */

@media screen and (max-width: 1280px)  {
    .table_shadow.table_shadowNoLine table.table tr:first-child th:nth-child(2) {
        width: 170px;
    }
    .table_shadow.table_shadowNoLine table.table tr:first-child th:nth-child(3) {
        width: 175px;
    }
    .table_shadow.table_shadowNoLine table.table tr:first-child th:nth-child(6) {
        width: 180px;
    }
}
