/* 編輯區塊 */
.ContentBoxHeader {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: #0098a1;
    margin-bottom: 10px;
    padding: 0px 0px 5px 0px;
    border-bottom: 2px solid #0098a1;
}

.AlertBoxDivHtml.adjust {
    overflow-y: auto;
    max-height: 500px;
}

.table.search {
    margin-bottom:20px;
}
/* 隱藏手機板search */
/* 隱藏手機板search result */
/* 隱藏手機板顯示列表 */
.table.search_mobile,
.show_search_mobile {
    display: none;
}

/* loading完成前先隱藏列表 */
.tableDisplayNone {
    display: none;
}

#LoadingBox {
    text-align: center;
    padding: 50px 0;
}

/* 表格樣式 */
.table_shadow {
    box-shadow: none !important;
}

.table.showlist tr {
    border-bottom: 1px solid #d3d3d3;
}
    .table.showlist tr th {
        background-color:transparent;
    }

    .table.showlist tr:last-child {
        border: none;
    }


/* RWD */

/* ipad */
@media screen and (max-width:768px) {
    #ContentBoxInset .ContentBoxHtml {
        width: 735px !important;
    }

    /* 手機板ui樣式 */
    .AlertBoxDivContent {
        width: 90% !important;
    }

    .AlertBoxDivHtml.adjust {
        overflow-y: auto;
        max-height: 400px;
    }

    .mobile_width {
        width: 430px;
    }
}

/* iphone6,7,8 plus */
@media screen and (max-width:415px) {
    #ContentBoxInset .ContentBoxHtml {
        width: 385px !important;
    }

    /* 手機板ui樣式 */
    .AlertBoxDivContent {
        width: 90% !important;
    }

    .mobile_displayNone {
        display: none;
    }

    .mobile_text {
        font-size: 12px !important;
        top: 6px !important;
    }

    .mobile_search_width {
        width: 252px;
    }

    .mobile_width {
        width: 225px;
    }

    .button {
        font-size: 10px;
    }

    /* 顯示手機板search */
    /* 顯示手機板search result */
    /* 顯示手機板顯示列表 */
    .table.search,
    .table.search_result {
        display: none;
    }

    .table.search_mobile,
    .show_search_mobile {
        display: block;
    }

    #reset_mobile_btn {
        display: none;
    }
}

/* iphone6,7,8 */
@media screen and (max-width:376px) {
    #ContentBoxInset .ContentBoxHtml {
        width: 345px !important;
    }

    /* 手機板ui樣式 */
    .AlertBoxDivContent {
        width: 90% !important;
    }

    .mobile_search_width {
        width: 220px;
    }

    .mobile_width {
        width: 200px;
    }
}

/* iphone5 */
@media screen and (max-width:320px) {
    #ContentBoxInset .ContentBoxHtml {
        width: 290px !important;
    }

    /* 手機板ui樣式 */
    .AlertBoxDivContent {
        width: 90% !important;
    }

    .mobile_search_width {
        width:177px;
    }

    .mobile_width {
        width: 140px;
    }
}
