/* 編輯區塊 */
.ContentBoxHeader {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: #0098a1;
    margin-bottom: 10px;
    padding: 0px 0px 5px 0px;
    border-bottom: 2px solid #0098a1;
}

.AlertBoxDivHtml.adjust {
    overflow-y:scroll;
    max-height:500px;
}

/* loading完成前先隱藏列表 */
.tableDisplayNone {
    display: none;
}

#LoadingBox {
    text-align: center;
    padding:50px 0;
}