<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!--maxRequestLength 為上傳大小限制 單位KB，設定為大約 4 GB (4194300)，IIS部分要再:要求篩選 > 編輯功能設置 4294967295，已在最下方程式碼置入
        executionTimeout 為請求超時設定 預設為 110 秒，網路建議修改為 300，若是碰到較為難處裡的伺服器可設為 3000-->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="4194300" executionTimeout="3000"/>
    <!--session 生命週期設定，IIS也要設定才會正確作用，應用程式集區 > 進階設定 > 處理序模型 > 閒置逾時(分)-->
    <sessionState mode="InProc" timeout="720"/>

    <!--<identity impersonate="true" userName="user" password="1234" />-->
  </system.web>

  <!--將SQL伺服器位置、帳號、密碼寫在這裡 (如果使用第一個系統驗證的話 就要去IIS > 應用程式集區 > 進階設定 > 處理序模型 > 識別 > 選擇 LocalSystem ;然後再去SQL裡面 > 安全性 > 登入 > NT AUTHORITY\SYSTEM 設定使用者對應 即可完成)-->
  <connectionStrings>
    <!--<add name="SQLConnectionString" connectionString="Data Source=.;Initial Catalog=iQuestion;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="SQLConnectionString" connectionString="Data Source=.;Initial Catalog=iQuestion;Connection Timeout=300000;Persist Security Info=True;User ID=james;Password=s2215226" providerName="System.Data.SqlClient" />
    <!--<add name="SQLConnectionString_P" connectionString="Server=www.jadon.com.tw;Port=5432;User Id=postgres;Password=saeguqnacn;Database=postgres;" />-->
  </connectionStrings>

  <appSettings>
    
    <!--檔案資料夾存取位置 - 必要設定-->
    <add key="FilesPath" value="D:\website\iPrepareFiles\"/>
    <!--<add key="FilesPath" value="~/Files/"/>-->
    <!--檔案資料夾網路顯示路徑 - 必要設定-->
    <add key="FilesViewPath" value="http://61.216.105.196/iPrepareFiles/"/>

    <!--自動寄信功能 寄件人名稱-->
    <add key="AutoMailSender" value="桃園市政府教育局 - 智慧共備系統"/>
    <!--自動寄信功能 寄件人信箱-->
    <add key="AutoMailAddress" value="uiopqwerx@jhenggao.com"/>
    <!--自動寄信功能 信箱密碼-->
    <add key="AutoMailPassword" value="22962365"/>
    <!--自動寄信功能 Smtp網址-->
    <add key="AutoMailSmtp" value="smtp.gmail.com"/>
    <!--自動寄信功能 Port-->
    <add key="AutoMailPort" value="587"/>
    <!--自動寄信功能 信件內連結起始網址-->
    <add key="AutoMailUrl" value="http://61.216.105.196/iPrepare/"/>

    <!--ffmpeg 套件指定路徑-->
    <add key="ffmpegRoot" value="D:\website\(web)iPrepare\FFMPEG\bin\" />
    <!--ffmpeg 編譯排程數量限制-->
    <add key="ffmpegScheduleCount" value="2" />
    <!--ffmpeg 編譯排程等待毫秒-->
    <add key="ffmpegWaitTime" value="5000" />
    
  </appSettings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
