/*
    會衝突舊版本

    <div>
        <input type="text" value="預設文字" placeholder="輸入..." />
        <div class="inputLine"></div>
    </div>
    
    <div style="font-size: 0">
        <textarea rows="3" placeholder="輸入內容...">預設文字</textarea>
    </div>

*/



/*針對輸入型樣式*/
input {
    font-weight: bold;
    font-family: '微軟正黑體修正','微軟正黑體';
    border: 0;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: #ff6a00;
    transition: linear 0.5s;
    /*safari用*/
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 inset;
    -webkit-appearance: none;
    line-height: 30px;
}

    input[type=text],
    input[type=password] {
        width: 100%;
    }

    input[type=file] {
        width: 100%;
        cursor: pointer;
        line-height: initial;
    }

textarea {
    font-weight: bold;
    font-family: '微軟正黑體修正','微軟正黑體';
    color: #ff6a00;
    outline: none;
    font-size: 16px;
    border: 1px solid #d3d3d3;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    resize: none;
    transition: linear 0.3s;
    /*safari用*/
    border-radius: 0;
    padding: 0;
    margin: 0 0 1px 0;
    -webkit-appearance: none;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 0 0 0 0 inset;
}

    textarea:focus {
        border: 1px solid #0094ff;
        box-shadow: 0 0 1px 0 #0094ff,rgba(0, 0, 0, 0) 0 0 0 0 inset;
    }



/*placeholder字樣的樣式*/
::-webkit-input-placeholder {
    font-weight: normal;
    color: #ccc;
}

::-moz-placeholder {
    font-weight: normal;
    color: #ccc;
}



.inputLine {
    height: 2px;
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    top: -1px;
    transition: ease-in-out 0.5s;
}

input[type=text]:focus ~ .inputLine,
input[type=password]:focus ~ .inputLine,
textarea:focus ~ .inputLine {
    background-color: #0094ff;
    width: 100%;
}



/*去除超連結底線*/
a {
    text-decoration: none;
    cursor: pointer;
}

    a:link,
    a:visited,
    a:active {
        color: #0094ff;
    }

@media screen and (min-width: 1025px) {
    a:hover {
        color: #0072c4;
    }
}



/*取消 ul li 的標題項目圓圈 重設位置*/
ul {
    padding: 0;
    margin: 0;
}

    ul li {
        list-style-type: none;
        width: 100%;
        padding: 0;
    }



/*下拉選單樣式*/
select {
    /*cursor: pointer;
    font-family: '微軟正黑體';
    border: 0;
    padding: 2px 4px;
    outline: none;*/
    /* 將默認的 select 樣式清除，可以利用背景圖片賦予下拉箭頭的樣子 */
    /*-moz-appearance: none;
    -webkit-appearance: none;*/
}

/* 清除 ie 的默認選擇框樣式清除，隱藏下拉箭頭*/
/*select::-ms-expand { display: none; }*/

/*select:hover {
        color: #ff6a00;
    }*/

/*option {
    font-family: '微軟正黑體';
    color: #000;
}*/



fieldset {
    max-width: 600px;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

    fieldset .table_Basic,
    fieldset .table_title,
    fieldset .table_left,
    fieldset .table_corner {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

legend {
    padding: 2px 10px 4px 10px;
    background-color: #f1f1f1;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 20px;
}



/*label樣式*/
label {
    cursor: pointer;
    display: inline-block;
}

@media screen and (min-width: 1025px) {
    label:hover {
        color: #ff6a00;
    }
}

label input[type=radio],
label input[type=checkbox] {
    cursor: pointer;
}
