#HeaderBoxInset {
    background-color: #6c4090;
}

#DeputyBoxInset .DeputyBoxBtnSelect {
    border-bottom: 4px solid #6c4090;
}

@media screen and (min-width: 1025px) {
    #DeputyBoxInset .DeputyBoxBtnSelect:hover {
        border-bottom: 4px solid #6c4090;
    }
}

#LeftMenuInset .LeftMenuBtnSelect {
    border-left: 3px solid #6c4090;
}

#LeftMenuInset .LeftMenuGroupTitle {
    color: #6c4090;
}

#ContentBoxInset .ContentBoxHeaderText {
    color: #6c4090;
    border-bottom: 1px solid #6c4090;
}
